@model IEnumerable<ShoppingWithCart.ViewModel.ProductDetailsVM>
@{
    ViewBag.Title = "Cart";
}
<style>
    .cartitembox {
        border-bottom: 1px solid #f4f4f4;      
    }

    #prodInfo > h6 {
        font-weight: 400;
        line-height: 0px;
        
    }
    #prodInfo > h5 {
        margin: auto;
    }
</style>



        

    
@if (Model.Count() != 0)
{
<div class="row">
        <div class="col-md-9 col-lg-9">
            <div class="box box-success">
            <div class="box-header with-border">
                <h2 class="box-title"> Your Cart</h2>
            </div>
            @foreach (var item in Model)
            {
            <div id="cartitembox_@item.productId" class="box-body cartitembox">
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-3">
                        <img src="@item.imagePath" width="58" height="120" border="0" alt="Product Image" style="padding:0px;" />
                    </div>
                    <div class="col-md-7 col-sm-4 col-xs-4" id="prodInfo">
                        <h5>@item.productName</h5>
                        <h6>Quantity : @item.Quantity</h6>
                        <h6>Price: @item.price</h6>
                        <h6>Category :@item.categoryName</h6>
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-2">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="RemoveFromCart(@item.productId)">Remove Item </a>
                    </div>
                </div>
            </div>
            }
          </div>
        </div>
        <div class="col-md-3 col-lg-3">          
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Amount</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                @{ var total = 0;}
                @foreach (var item in Model)
                {
                    <div class="box-body" style="display: block;">

                        @item.productName  x @item.Quantity = @Convert.ToDecimal((item.Quantity * item.price)).ToString("#,##0")
                        @{total += (item.Quantity * item.price);}
                    </div><!-- /.box-body -->
                            }
                    <div class="box-body" style="display: block;">

                        Total Amount = @Convert.ToDecimal(total.ToString("#,##0"))
                    </div><!-- /.box-body -->
                

            </div><!-- /.box -->
        </div>
        <a href="/Home/PlaceOrder" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Place Order </a>
</div> 
    }

    else
    {
    <h3> Your Cart is Empty </h3>

    }
